@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  height: 110vh;
  width: 100%;
  background-image: url("../Assets/Images/Hero\ Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  padding-top: 5%;
  padding-bottom: 2%;
  justify-content: space-between;
}

#humbg {
  width: 4rem;
  align-self: flex-end;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logos h1 {
  margin-top: 5vh;
  color: #f1f1f1;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 54px;
}

.container-base {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f1f1f1;
}

.base2 {
  display: flex;
  margin-top: 2vh;
}

.circle1,
.circle2 {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-right: 1rem;
}

.pill {
  height: 0.8rem;
  width: 3rem;
  background-color: #f1f1f1;
  border-radius: 0.8rem 0.8rem;
}
