@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  height: 110vh;
  width: 100%;
  background-image: url("../Assets/Images/Hero\ Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  padding-top: 5%;
  padding-bottom: 2%;
  justify-content: space-between;
}

#humbg {
  width: 4rem;
  align-self: flex-end;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logos h1 {
  margin-top: 5vh;
  color: #f1f1f1;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 54px;
}

.container-base {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f1f1f1;
}

.base2 {
  display: flex;
  margin-top: 2vh;
}

.circle1,
.circle2 {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-right: 1rem;
}

.pill {
  height: 0.8rem;
  width: 3rem;
  background-color: #f1f1f1;
  border-radius: 0.8rem 0.8rem;
}

.nav-bar {
  height: 120px;
  background-color: rgb(39, 35, 35);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid red;
  padding-right: 4.5%;
  padding-left: 4.5%;
  overflow: hidden;
}

#simbalogo {
  height: 85px;
  align-self: center;
}

a {
  text-decoration: none;
  color: #f1f1f1;
  z-index: 99;
}

#home {
  background-color: rgb(39, 35, 35);
  height: 118px;
  width: 95px;
  transform: skewX(-15deg);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 80px;
}

#home:hover {
  background-color: red;
}

#vehicles {
  background-color: rgb(39, 35, 35);
  height: 118px;
  width: 120px;
  transform: skewX(-15deg);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 120px;
}

#vehicles:hover {
  background-color: red;
}

#parts {
  background-color: rgb(39, 35, 35);
  height: 118px;
  width: 100px;
  transform: skewX(-15deg);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 80px;
}

#parts:hover {
  background-color: red;
}

#services {
  background-color: rgb(39, 35, 35);
  height: 118px;
  width: 100px;
  transform: skewX(-15deg);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 93px;
}

#services:hover {
  background-color: red;
}

#financing {
  background-color: rgb(39, 35, 35);
  height: 118px;
  width: 105px;
  transform: skewX(-15deg);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 100px;
}

#financing:hover {
  background-color: red;
}

#blog {
  background-color: rgb(39, 35, 35);
  height: 118px;
  width: 90px;
  transform: skewX(-15deg);
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 75px;
}

#blog:hover {
  background-color: red;
}

.container2 {
  position: relative;
  height: 350vh;
  padding: 5%;
  background: linear-gradient(to bottom, black, rgb(29, 28, 28));
}

.form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 40vh;
  background-color: rgb(209, 209, 199);
  border-radius: 2rem;
  justify-content: space-evenly;
  padding: 0 5%;
}

.upper-form {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.lower-form {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

select {
  width: 13vw;
  height: 5vh;
  font-size: small;
  border-radius: 5vh 5vh;
  border: none;
  background-color: #f1f1f1;
  padding-left: 1.5vw;
}

#model {
  border-radius: 0.2rem 0.2rem;
  background-color: rgba(63, 62, 63, 0.295);
}

.budget {
  display: flex;
  flex-direction: column;
}

.budget label {
  font-size: small;
}

.budget p {
  font-size: small;
  text-align: right;
}

.slider {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2vh;
}

.rec1 {
  height: 0.8rem;
  width: 8vw;
  background-color: red;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #f1f1f1;
  position: absolute;
  margin-left: 7.5vw;
}

.rec2 {
  height: 0.8rem;
  width: 5vw;
  background-color: rgb(53, 53, 53);
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.search {
  width: 13vw;
  height: 5vh;
  font-size: small;
  border-radius: 5vh 5vh;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #f1f1f1;
  align-self: center;
  margin-top: 2.5vh;
}

.models-titles {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.saloon {
  color: red;
  display: flex;
  flex-direction: column;
}

.saloon-underline {
  display: flex;
  align-items: center;
}

.saloon-line {
  height: 2px;
  width: 6.5rem;
  background-color: red;
}

.saloon-invertedSq {
  margin-left: 2vw;
  margin-right: 2vw;
}

.saloon-outerSq {
  height: 20px;
  width: 20px;
  border: 2px solid red;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.saloon-innerSq {
  height: 10px;
  width: 10px;
  background-color: red;
}

.modelTitle {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.underline {
  display: flex;
  align-items: center;
}

.line {
  height: 2px;
  width: 6.5rem;
  background-color: #f1f1f1;
}

.invertedSq {
  margin-left: 2vw;
  margin-right: 2vw;
}

.outerSq {
  height: 20px;
  width: 20px;
  border: 2px solid #f1f1f1;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerSq {
  height: 10px;
  width: 10px;
  background-color: #f1f1f1;
}

.large-container1 {
  height: 250vh;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  justify-content: space-between;
}

.col {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
  width: 27vw;
  height: 120vh;
  border: 1px solid #3f3c3c;
  border-radius: 2rem;
  overflow: hidden;
}

.bkgWhite {
  height: 45vh;
  width: 27vw;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
}

.cars {
  width: 23vw;
  height: auto;
}

.bkgBlack {
  height: 75vh;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
}

.text span {
  font-size: 18px;
  color: red;
  font-weight: 400;
}

.line-span {
  height: 1px;
  width: auto;
  background-color: #3f3c3c;
  margin-top: 2vh;
}

.text h4 {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  margin-top: 2vh;
}

.line-span2 {
  height: 1px;
  width: auto;
  background-color: #3f3c3c;
  margin-top: 2vh;
}

.text p {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: lighter;
  margin: 2.5vh 0;
}

.line-span3 {
  height: 1px;
  width: auto;
  background-color: #3f3c3c;
  margin-top: 2vh;
}

.text h2 {
  color: red;
  font-size: 19px;
  font-weight: 600;
}

.btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  border: 3px solid #f1f1f1;
  background-color: black;
  color: #f1f1f1;
  margin-top: 5vh;
}

.advert {
  height: 46vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 350vh;
  background: linear-gradient(to right, rgb(211, 14, 14), black);
}

#advert {
  position: relative;
  bottom: 5.4vh;
  height: 55vh;
  width: 100vw;
}
